export(ars)
export(compute_log)
export(compute_deriv)
export(initialize_hfamily)
export(initialize_z)
export(initialize_sample)
export(calculate_scdf)
export(create_samples)
export(u)
export(l)
export(sr_test)
export(update_hfamily)
export(update_z)
export(dnor, dgam, duni, dBeta, dlogit, d_t, dF, dExp, dlnor)
export(dnon_concave, dnon_diff, dnon_conti)


import(roxygen2, testthat, assertthat, knitr, truncdist, devtools)
